.header {
  background-image: url(../assets/header_events.png);
  height: 450px;
  margin-top: -80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.kegiatan-cont {
  margin-left: 80px;
  margin-right: 80px;
}
.kegiatan-cont h2 {
  font-size: 32px;
  line-height: 20px;
  text-align: center;
  color: #0e9749;
}

.news-event {
  display: flex;
}

.foto {
  padding-right: 15px;
  padding-left: 15px;
  width: 40%;
}

.foto img {
  width: 100%;
  height: auto;
}

.info {
  width: 60%;
  padding-right: 15px;
  padding-left: 15px;
}

.tgl {
  margin-top: 20px;
  display: flex;
}

.tgl img {
  height: 20px;
  width: 20px;
}

.tgl span {
  font-size: 14px;
  margin-left: 10px;
}

.isi h1 {
  font-size: 1.602rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  line-height: 1.1;
}

.isi p {
  color: #8c8c8c;
  font-weight: 400;
  line-height: 2;
  text-align: justify;
  font-size: 17px;
  margin-bottom: 0;
}

.lengkap {
  width: 250px;
  text-align: center;
  float: right;
  margin-top: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #ffcd00;
  font-size: 15px;
  color: #000;
  font-weight: bold;
}

@media (max-width: 1080px) {
}

@media (max-width: 850px) {
  .news-event {
    display: flex;
    flex-direction: column;
  }

  .foto {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
  }

  .foto img {
    width: 100%;
    height: auto;
  }
  .info {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .isi h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    line-height: 1.1;
  }

  .isi p {
    color: #8c8c8c;
    font-weight: 400;
    line-height: 2;
    margin-bottom: 0;
    text-align: justify;
    font-size: 17px;
  }
}

@media (max-width: 750px) {
  .lengkap {
    width: 200px;
    font-weight: bold;
  }
}

@media (max-width: 580px) {
  .lengkap {
    width: 140px;
    font-weight: bold;
  }
}
