.footer {
  display: flex;
  height: auto;
  width: 100%;
  background-color: #0e9749;
}
.containerF {
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 1rem;
  width: 100%;
}

.menu-add {
  align-items: flex-start;
  display: flex;
  flex-direction: wrap;
  margin-right: 15px;
  margin-left: 15px;
}

.add {
  width: 40%;
  padding-right: 25px;
  padding-left: 25px;
}

.add p {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.38px;
  color: #fff;
  width: 220px;
}

.menu_f {
  width: 30%;
  padding-right: 25px;
  padding-left: 25px;
  color: #fff;
  line-height: 31px;
  margin-top: -30px;
}
.menu_f h4 {
  font-size: 24px;
  letter-spacing: 0.38px;
  color: #fff;
}

.sosmed {
  text-align: right;
  margin-right: 30px;
  margin-top: -30px;
  display: flex;
  justify-content: flex-end;
}

.sosmed img {
  margin-right: 25px;
}

.copy {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.38px;
  color: #fff;
  text-align: center;
  padding-bottom: 5px;
}

@media (max-width: 850px) {
  .menu-add {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 750px) {
  .sosmed {
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}
