.main-nav {
  position: relative;
  z-index: 4;
  margin-top: 20px;
}

.container {
  height: 60px;
  margin: 0 auto;
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 7px 0;
  justify-content: flex-start;
}

.navbar.active {
  background: #fff;
  margin-top: -20px;
}

.navbar.active ul {
  color: black;
}

.navbar.active span {
  color: black;
}

.navbar-logo {
  display: inline-block;
  margin-right: 1rem;
  white-space: nowrap;
}

.logo {
  width: 150px;
  position: relative;
  margin-left: 20px;
}

.logo.active img {
  width: 150px;
  position: relative;
  margin-left: 20px;
}

.menu-nav {
  display: flex;
  width: 85%;
}
.menu-nav ul {
  margin-right: 40px;
}
.menu-nav ul li {
  margin-right: 25px;
  display: block;
}

.menu {
  display: flex;
  flex-direction: row;
  color: white;
  list-style: none;
}

.menu-kanan {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.menu-kanan span {
  color: white;
  margin-right: 20px;
  font-size: 17px;
  font-weight: bold;
}

.menu-kanan img {
  margin-top: 3px;
  margin-right: 20px;
  height: 20px;
  width: 20px;
}

.daftar {
  font-weight: bold;
  background-color: #ffcd00;
  padding: 10px 30px;
  margin-left: 10px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.5px;
  display: inline-block;
}

@media (max-width: 850px) {
  .menu-nav {
    display: none;
  }

  .logo {
    width: 100px;
    position: relative;
    margin-left: 20px;
  }

  .logo.active img {
    width: 100px;
    position: relative;
    margin-left: 20px;
  }
}
